/* Fuentes */ 
@font-face {
    font-family: 'Love';
    src: url('./fuentes/Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    }
@font-face {
    font-family: 'Mediaval';
    src: url('./fuentes/MediavalSharp/MediavalSharp-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('./fuentes/RubikWetPaint-Regular/RubikWetPaint-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


/* Contenedor general */

.acuario{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    position:relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(./img/aquarius-7617682_1280.jpg);background-repeat: no-repeat;background-attachment: fixed;
    /*background-size: cover;
    background-position: 12%;*/
}


.videoacuario {
    position: absolute;
    overflow: hidden;
    padding-right: 22%;
    top:30%;
    right: 1%;
    width: 60%;
    height: 45%;
}


.aries{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    position:relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(./img/aries-7617681__480.jpg);background-repeat: no-repeat;background-attachment: fixed;
    background-size: 100% 100%;
}
.videoaries {
    position: absolute;
    overflow: hidden;
    padding-right: 22%;
    top:30%;
    right: 1%;
    width: 60%;
    height: 45%;
}

.cancer{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    position:relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(./img/cancer-7617683_1280.jpg);background-repeat: no-repeat;background-attachment: fixed;
    background-size: 100% 100%;
}
.videocancer {
    position: absolute;
    overflow: hidden;
    padding-right: 22%;
    top:30%;
    right: 1%;
    width: 60%;
    height: 45%;
}

.capricornio{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    position:relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(./img/capricorn-7617684_1280.webp);background-repeat: no-repeat;background-attachment: fixed;
    background-size: 100% 100%;
}
.videocapricornio {
    position: absolute;
    overflow: hidden;
    padding-right: 22%;
    top:30%;
    right: 1%;
    width: 60%;
    height: 45%;
}
.escorpio{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    position:relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(./img/scorpio-7617691_1280.jpg);background-repeat: no-repeat;background-attachment: fixed;
    background-size: 100% 100%;
}
.videoescorpio {
    position: absolute;
    overflow: hidden;
    padding-right: 22%;
    top:30%;
    right: 1%;
    width: 60%;
    height: 45%;
}

.geminis{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    position:relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(./img/gemini-7617685_1280.jpg);background-repeat: no-repeat;background-attachment: fixed;
    background-size: 100% 100%;
}
.videogeminis {
    position: absolute;
    overflow: hidden;
    padding-right: 22%;
    top:30%;
    right: 1%;
    width: 60%;
    height: 45%;
}
.leo{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    position:relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(./img/leo-7617686_1280.jpg);background-repeat: no-repeat;background-attachment: fixed;
    background-size: 100% 100%;
}
.videoleo {
    position: absolute;
    overflow: hidden;
    padding-right: 22%;
    top:30%;
    right: 1%;
    width: 60%;
    height: 45%;
}

.libra{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    position:relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(./img/libra-7617688_1280.jpg);background-repeat: no-repeat;background-attachment: fixed;
    background-size: 100% 100%;
}
.videolibra {
    position: absolute;
    overflow: hidden;
    padding-right: 22%;
    top:30%;
    right: 1%;
    width: 60%;
    height: 45%;
}

.piscis{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    position:relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(./img/pisces-7617687_1280.jpg);background-repeat: no-repeat;background-attachment: fixed;
    background-size: 100% 100%;
}
.videopiscis {
    position: absolute;
    overflow: hidden;
    padding-right: 22%;
    top:30%;
    right: 1%;
    width: 60%;
    height: 45%;
}
.sagitario{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    position:relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(./img/sagittarius-7617690_1280.jpg);background-repeat: no-repeat;background-attachment: fixed;
    background-size: 100% 100%;
}
.videosagitario {
    position: absolute;
    overflow: hidden;
    padding-right: 22%;
    top:30%;
    right: 1%;
    width: 60%;
    height: 45%;
}

.tauro{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    position:relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(./img/taurus-7617693_1280.webp);background-repeat: no-repeat;background-attachment: fixed;
    background-size: 100% 100%;
}
.videotauro {
    position: absolute;
    overflow: hidden;
    padding-right: 22%;
    top:30%;
    right: 1%;
    width: 60%;
    height: 45%;
}
.virgo{
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    position:relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(./img/virgo-7617694_1280.jpg);background-repeat: no-repeat;background-attachment: fixed;
    background-size: 100% 100%;
}
.videovirgo {
    position: absolute;
    overflow: hidden;
    padding-right: 22%;
    top:30%;
    right: 1%;
    width: 60%;
    height: 45%;
}
/*h1{ 
    font-family: "Love";
    color: blueviolet;
}*/

/*mediaqueri tablet*/
@media (max-width: 900px) {
    .acuario {
        background-size:cover;
        background-position:12%;
    }
    .aries {
        background-size:cover;
        background-position:12%;
    }
    .cancer {
        background-size:cover;
        background-position:12%;
    }
    .capricornio {
        background-size:cover;
        background-position:12%;
    }
    .escorpio {
        background-size:cover;
        background-position:12%;
    }
    .geminis {
        background-size:cover;
        background-position:12%;
    }
    .leo {
        background-size:cover;
        background-position:12%;
    }
    .libra {
        background-size:cover;
        background-position:12%;
    }
    .piscis {
        background-size:cover;
        background-position:12%;
    }
    .sagitario {
        background-size:cover;
        background-position:12%;
    }
    .tauro {
        background-size:cover;
        background-position:12%;
    }
    .virgo {
        background-size:cover;
        background-position:12%;
    }
}
  